body {
    padding: 0;
    margin: 10px 0 0 0;
    font-size: 18px;
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);
    font-family: "SF Pro Text";
    max-width: 400px;
}

.basket-table {
    margin: 10px;
    font-size: 20px;
}

.nameUser{
    text-transform: uppercase;
    margin-left: 10px;
}

#usercard {
    display: inline-block;
    margin-left: 10px;
}

#edit-button {
    display: inline-block;
    margin: 10px 10px 10px;
    padding: 8px 20px;
    border: none;
    background: #64e359;
    border-radius: 10px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    transition: background .2s linear;
}

#edit-button:hover {
    background: green;
}

.delete-button {
    display: inline-block;
    float: right;
    padding: 10px 15px;
    border: none;
    background: red;
    border-radius: 50%;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    transition: background .2s linear;
}

.delete-button:hover {
    background: darkred;
}

#basket-table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
}

#basket-table th, #basket-table td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

#basket-table th {
    background-color: rgb(248, 168, 24);
    color: #fff;
    text-align: center;
    font-size: 16px;
}

.quantity{
    color:orange; 
    font-weight: bold;
}

.price{
    float: right;
    text-align: center;
}

#basket-table td {
    width: 150px;
}

#delivery-options{
    height: 100%;
    display: block;
    border-start-start-radius: 15px;
    border-top-right-radius: 15px;
    background-color: rgb(91,179,208);
    padding: 20px;
    bottom: 0;
    left: 0;
}

.finalPrice{
    float: right;
    font-weight: bold;
    font-size: 20px;
}

.checkbox-container {
  display: flex;
  align-items: center;
}

.checkbox-container input[type="checkbox"] {
  margin-right: 5px;
}

input[type="checkbox"] {
    appearance: none; 
    -moz-appearance: none; 
    width: 30px;
    height: 30px; 
    border-radius: 50%; 
    border: 2px solid #000; 
    background-color: steelblue;
    outline: none; 
    cursor: pointer; 
}

input[type="checkbox"]:checked {
    background-color: #f2f3f4;
}

#pay-button {
    width: 100%;
    padding: 10px 10px;
    border: none;
    border-radius: 20px;
    background: #f2f3f4;
    color: #000;
    font-weight: 700;
    cursor: pointer;
    transition: background .2s linear;
    font-size: 17px;
}